* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgb(98, 13, 42);
  cursor: default;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
}

body.block {
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

/* bodyWrapper */

.bodyWrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
  background-image: url(/qatar2022/pictures/qatar_logo_big.jpeg);
  background-attachment: local;
  background-size: cover;
  background-position: 100% 0%;
}

.container {
  padding: 15px;
  max-width: 1200px;
  min-width: 700px;
  width: 100%;
}

/* header */

header {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: rgba(241, 241, 241, 0.85);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  z-index: 100;
}

.headerLogo {
  cursor: pointer;
}

.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  width: 100%;
  flex: 1 1 100%;
  justify-content: center;
}

.navUl {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navLi a{
  cursor: pointer;
  font-weight: bold;
}

/* main */

main {
  position: relative;
  display: flex;
  justify-content: center;
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------ hello section */

.helloSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1100px;
}

/* leftColumn */

.leftColumn {
  height: 100%;
}

.deadlineBlock {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 90px;
  margin-top: 384px;
  padding: 30px;
  width: 360px;
}

.deadlineTitle {
  color: rgba(98, 13, 42, 1);
}

.deadlineTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.deadlineSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.deadlineText {
  color: rgb(98, 13, 42);
  font-size: 20px;
  font-weight: bold;
}

.deadlineNum {
  font-size: 55px;
  color: rgb(241, 241, 241);
  font-weight: 900;
  background-color: rgb(98, 13, 42);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  border-radius: 15px;
  width: 90px;
  height: 90px;
  text-align: center;
  padding: 5px 0px;
}

/* rightColumn */

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.rightColumnSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.section1 {
  margin-top: 130px;
}

/* scheduleMiniBlock */

.scheduleMiniDate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 10px;
  min-height: 40px;
  width: 250px;
  font-weight: bold;
  text-align: center;
}

.scheduleLi {

  padding: 10px 0px;
}

.matchCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.matchCardCenterBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.matchCard .teamBlock {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.scoreMini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;

}

.scoreInput {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: rgba(241, 241, 241, 1);
}

.scheduleMiniButton {
  margin-top: 10px;
  width: 115px;
}

.matchCardBottomBlock {
  padding-top: 5px;
  display: flex;
  gap: 10px;

}

.matchDate,
.matchTime,
.matchInfo {
  font-size: 14px;
  color: rgb(241, 241, 241);
}

/* tableMini */

.tableMini {
  width: 670px;
  position: relative;
}

.tableMiniUl {
  width: 100%;
}

.tableMiniLi:last-child,
.tableMiniLi:first-child {
 margin: 0;
}

.tableMiniLi:first-child .playerCard {
  background-color: rgb(232, 211, 39);
}

.tableMiniLi {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}

.playerNameMini {
  padding-left: 20px;
}

.playerPointsMini {
margin-left: auto;
}

/* ------------------------------------ MATCHDAY section */

.matchdaySection {
  background-color: rgba(98, 13, 42, 1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  padding: 30px;
  border-radius: 30px;
  margin: 50px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdayTitle {
  color: rgba(241, 241, 241, 1);
}

.matchdayBlock {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.matchDayEvent {
  width: 500px;
}

.matchDayEvent .matchCardBottomBlock {
  padding-bottom: 5px;
  padding-top: 0px;
}

.matchDayEvent .matchCardCenterBlock {
  width: 100%;
  gap: 10px;
}

.playersBetsUl {
  padding-top: 10px;
}

.playersBetsLi {
  padding-top: 10px;
}

.matchDayEvent .teamBlock,
.playerBetCard .playerCard {
  width: 200px;
  padding: 0px 10px;
}

.matchDayEvent .team,
.playerBetCard .playerPosition,
.playerBetCard .playerNameMini,
.playerBetCard .playerPointsMini {
  font-size: 16px;
}

.playerBetCard .playerNameMini {
  padding-left: 10px;
}

.matchDayEvent .scoreMini,
.playerBetCard .scoreMini {
  width: 80px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.playerBetCard {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.playerBetCard .playerCard{

}


/* footer */

footer {
  background-color: rgba(241, 241, 241, 0.7);
  display: flex;
  justify-content: center;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footerText {
  display: block;
  cursor: pointer;
}

/* blocks */

.miniBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(98, 13, 42, 1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  padding: 30px;
  border-radius: 30px;
}

.teamBlock {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  padding: 0px 20px;
}

.playerCard {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  padding: 0px 20px;
}

.myPlayerCard {
  background-color: rgb(39, 207, 232);
}

.firstPlace {
  background-color: rgb(232, 211, 39);
}

/* buttons */

.bigRedButton {
  background-color: rgba(98, 13, 42, 1);
  color: rgb(241, 241, 241);
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

.bigRedButton:hover {
  background-color: rgb(232, 211, 39);
  color: rgb(98, 13, 42);
  transform: scale(0.9);
}

/*  */
.bigWhiteButton {
  background-color: rgb(241, 241, 241);
  color: rgb(98, 13, 42);
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

.bigWhiteButton:hover {
  background-color: rgb(232, 211, 39);
  transform: scale(0.9);
}


/* animation */

.animationLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.animationLinks:hover {
  color: rgba(98, 13, 42, 1);
  transform: scale(0.9);
}


.animationLinks::after {
  content: '';
  background-color: rgb(98, 13, 42);
  width: 0px;
  height: 1px;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s;
}

.animationLinks:hover::after {
  opacity: 1;
  width: 100%;
  color: rgba(98, 13, 42, 1);
}
