* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: rgb(98, 13, 42);
  cursor: default;
  scroll-behavior: smooth;
}

html,
body {
  width: 350px;
  height: 140px;
  margin: 0;
}

/* info */

.infoAlert {
  background-color: rgb(142, 209, 171);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 30px;
  width: 350px;
  height: 208px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.infoTextBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoText {
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0px;
  display: block;
  text-align: center;
}

.okButton.bigRedButton {
  color: rgb(142, 209, 171);
}

.okButton.bigRedButton:hover {
  background-color: #610d29;
  color: rgb(142, 209, 171);
}

.bigRedButton {
  background-color: #610d29;
  color: rgb(241, 241, 241);
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

.bigRedButton:hover {
  background-color: rgb(212, 232, 139);
  color: rgb(98, 13, 42);
  transform: scale(0.9);
}