.deadlineTextMobile,
.mobileBurger,
cfoutput,
li.loginMobileLink {
display: none;
}

.playerBetCard,
.playerNameMini,
.eventTeam {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgb(98, 13, 42);
  cursor: default;
  scroll-behavior: smooth;
}

cfquery {
  display: none;
}

a {
  text-decoration: none;
}

li, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
}

body.block {
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

/* bodyWrapper */

.bodyWrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
}

.container {
  padding: 15px;
  max-width: 1200px;
  min-width: 700px;
  width: 100%;
}

/* header */

header {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: rgba(241, 241, 241, 0.85);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  z-index: 100;
}

.headerLogo {
  cursor: pointer;
}

.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  width: 100%;
  flex: 1 1 100%;
  justify-content: center;
}

.navUl {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navLi a{
  cursor: pointer;
  font-weight: bold;
}

/* main */

main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/* ------------------------------------ hello section */

.helloSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url(../img/qatar_logo_big.jpeg);
  background-size: cover;
  background-position: 100% 0%;
}

.helloSectionContainer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 165px;
  flex-direction: column;
}

/* leftColumn */

.leftColumn {
  display: flex;
  height: 40px;
  position: fixed;
  left: 0px;
  top: 90px;
  width: 100%;
   z-index: 3300;
}

.deadlineBlock {
  flex-direction: row;
  height: 40px;
  display: flex;
  background-color: rgb(142, 209, 171);
  margin-top: 0px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  z-index: 3300;
  
}

.deadlineBlock h1 {
  font-size: 20px;
}

.deadlineTitle {
  color: rgba(98, 13, 42, 1);
}

.deadlineTime {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 35px;
}

.deadlineSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.deadlineText {
  color: rgb(98, 13, 42);
  font-size: 20px;
  font-weight: bold;
}

.deadlineNum {
  font-size: 18px;
  color: rgb(142, 209, 171);
  font-weight: 900;
  background-color: rgb(98, 13, 42);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 0px;
  line-height: 23px;
}

/* rightColumn */

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  height: 100%;
}

.rightColumnSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #610d29;
  border-radius: 30px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  overflow: hidden;
}

.section1 {
  margin-top: 175px;
}

/* scheduleMiniBlock */

.rightColumnSectionTitle {
  border-radius: 30px;
  background-color: rgb(241, 241, 241);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}


.scheduleMiniDate {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.matchCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.matchCardCenterBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.matchCard .teamBlock {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.scheduleLi {
  overflow: hidden;
  height: 86px;
  padding-bottom: 15px;
  transition: 0.3s;
}

.scheduleLi.hide {
display: none;
}

.scoreMini {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  border-spacing: 0px;
}
.scoreMini tbody {
  width: 100%;
}

.scoreMini tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scoreInput {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: rgba(241, 241, 241, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
    padding: 0px;
}

.scheduleMiniButton {
  margin-top: 10px;
  width: 115px;
}

.matchCardBottomBlock {
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.matchCardBottomBlock span {
  font-size: 14px;
  color: rgb(241, 241, 241);
}

.matchInfo, .matchDate {
  width: 40%;
}

.matchInfo {
  text-align: end;
}

.scheduleMiniUl {
  padding-bottom: 0px;
}

/* tableMini */

.tableMini {
  width: 670px;
  position: relative;
}

.tableMiniUl {
  width: 100%;
}

.tableMiniLi:last-child,
.tableMiniLi:first-child {
 margin: 0;
}

.tableMiniLi:first-child .playerCard {
  background-color: rgb(142, 209, 171);
}

.tableMiniLi {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}

.playerNameMini {
  padding-left: 20px;
}

.playerPointsMini {
margin-left: auto;
}

/* ------------------------------------ MATCHDAY section */

.matchdaySection {
  background-color: rgb(241, 241, 241);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

.matchdayTitle {
  text-align: center;
  z-index: 1;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 100px;
  margin-top: -75px;
  padding: 30px;
  width: 100%;
  color: #610d29;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  margin-bottom: 75px;
}

.matchdayBlock {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 90px;

}

.matchDayEvent {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 30px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  width: 500px;
  background-color: #610d29;
}

.matchDayEvent.hide {
  display: none;
}

.matchDayEventHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 241, 241);
  border-radius: 30px;
  padding: 15px 5px;
}

.scoreSection {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventInfoSection {
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventTeam {
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  padding: 0px 5px;
}

.eventFirstTeam {
  text-align: end;
  margin-right: 10px;
}

.eventSecondTeam {
  text-align: left;
  margin-left: 10px;
}

.eventInfo {
  font-size: 14px;
  font-weight: bold;
  display: block;
  color: #610d29;
}

.eventGroup {
  text-align: end;
}


.eventGroup,
.eventDate {
  width: 40%;
}

.eventScore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 80px;
  width: 150px;
  text-align: center;
}

.eventScore span {
  display: block;
  font-size: 70px;
  font-family: 'Azeret Mono', monospace;
  font-weight: 800;
  text-align: center;
}

.matchDayEvent .matchCardBottomBlock {
  padding-bottom: 5px;
  padding-top: 0px;
}

.matchDayEvent .matchCardCenterBlock {
  width: 100%;
  gap: 10px;
}

.playersBetsUl {
  display: flex;
  flex-direction: column;
  padding: 30px ;
  gap: 20px;
}

.matchDayEvent .teamBlock,
.playerBetCard .playerCard {
  width: 100%;
  padding: 0px, 20px;
}

.playerBetCard .playerCard {
  width: 330px;
}

.playerBetCard .playerNameMini {
  padding-left: 10px;
}

.firstTeamMini {
  display: flex;
  justify-content: flex-end;
}

.firstTeamMini span {
  display: block;
}

.matchDayEvent .scoreMini,
.playerBetCard .scoreMini {
  width: 80px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.playerBetCard {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

/* ------------------------------------ Table section */

.tableSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #610d29;
  padding-bottom: 75px;
}

.tableTitle {
  text-align: center;
  z-index: 1;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 100px;
  margin-top: -75px;
  padding: 30px;
  width: 100%;
  color: rgb(98, 13, 42);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  margin-bottom: 75px;
}

.mainTableWrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0px 35px;
}

.mainTable {
  display: flex;
  width: 100%;
  overflow-x: auto;
    border-radius: 10px;
}

.bigTable {
  width: 100%;
  border-collapse: collapse;
}

.bigTable tr,
.bigTable th tr {
  background-color: rgb(241, 241, 241);
  height: 40px;
  padding-left: 265px;
  padding-right: 10px;
  transition: .3s;
  cursor: pointer;
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.bigTable tbody tr:last-child {
  margin: 0;
}

.bigTable tbody tr {

}



.bigTable td {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.bigTable tr:hover {
  background-color: rgb(212, 232, 139);
}

.bigTable td.tdName {
  text-align: left;
}

.bigTable tbody tr:first-child {
  background-color: rgb(142, 209, 171);
}


tr.myTr {
  background-color: rgb(212, 232, 139);
}

td.tdMain, 
.bigTable th.tdMain {
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  position: absolute;
  left: 30px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 40px;
}

.tdMain .mainPosition {
  font-weight: bold;
  width: 35px;
  text-align: left;
  padding-left: 10px;
}

.tdMain .mainName {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  font-weight: bold;
  text-align: left;
   white-space: nowrap;
  
}

.tdMain .mainPoints {
  font-weight: bold;
  text-align: left;
  width: 35px;
  /* padding-left: 10px; */
  padding-right: 10px;
}

th.tdMain .mainPosition,
th.tdMain .mainName,
th.tdMain .mainPoints {
  font-size: 14px;
}

.bigTable th {
  font-size: 14px;
  width: 50px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  background-color: rgba(241, 241, 241, 0.7);
  display: flex;
  justify-content: center;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footerText {
  display: block;
  cursor: pointer;
}

/* -------------------------------------- popups */

.backgroundBlur {
  z-index: 200;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0);
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.backgroundBlur.active {
  visibility: visible;
  opacity: 1;
  background-color: rgba(241, 241, 241, 0.5);
  backdrop-filter: blur(4px);
}

.popupContainer {
  z-index: 201;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0);
  transition: .5s;
  transform: scale(0);
  opacity: 0;
}

.popupContainer.active {
  opacity: 1;
  transform: scale(1);
}

.popup {
  overflow: hidden;
  position: relative;
  display: flex;
  max-width: 800px;
  height: 404px;
  width: 100%;
  border-radius: 30px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.loginRegister {
  background-color: rgba(98, 13, 41, 1);
  height: 100%;
  width: 100%;
  transition: .3s;
  order: 1;
}

.popupContainer.register .loginRegister {
  transform: translate(100%, 0px);
}

.changePopup {
  background-color: rgb(241, 241, 241);
  height: 100%;
  width: 100%;
  transition: .3s;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContainer.register .changePopup {
  transform: translate(-100%, 0px);
}

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.loginTitle {
  color: rgb(241, 241, 241);
  transition: 0.5s;
  overflow: hidden;
  height: 49px;
}

.loginTitle.register {
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: 0;
}

.popupContainer.register .loginTitle.register {
  overflow: hidden;
  height: 49px;
  opacity: 1;
  visibility: 1;
}

.popupContainer.register .loginTitle.hello {
  height: 0;
  opacity: 0;
  visibility: 0;
}

.changePopupTitle {
  display: block;
  text-align: center;
  transition: .5s;
  overflow: hidden;
  opacity: 1;
  visibility: 1;
  height: 45px;
}

.changePopupTitle.have {
  opacity: 0;
  visibility: 0;
  height: 0px;
}

.popupContainer.register .changePopupTitle.have {
  opacity: 1;
  visibility: 1;
  height: 90px;
}

.popupContainer.register .changePopupTitle.dontHave {
  opacity: 0;
  visibility: 0;
  height: 0px; 
}

.loginButtonText {
  display: block;
  overflow: hidden;
  transition: .5s;
  height: 100%;
}

.signUpText {
  opacity: 0;
  visibility: 0;
  height: 0px;
}

.popupContainer.register .signUpText {
  opacity: 1;
  visibility: 1;
  height: 100%;
}

.popupContainer.register .registerText {
  opacity: 0;
  visibility: 0;
  height: 0px;
}

.formSpan {
  color: rgb(241, 241, 241);
  font-size: 14px;
  margin-bottom: 5px;
}

.loginFormInput {
  width: 100%;
  border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: rgba(241, 241, 241, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.formContainer {
  margin-top: 15px;
  width: 100%;
}

.loginContainer {
  margin-top: auto;
}

.popupContainer.register .loginContainer {
  margin-top: 0px;
}

.passwordContainer {
  margin-bottom: auto;
}

.bigWhiteButton.loginFormButton {
  background-color: rgb(212, 232, 139);
  margin-top: auto;
  height: 50px;
  overflow: hidden;
}

.emailContainer {
  overflow: hidden;
  height: 0;
  visibility: 0;
  opacity: 0;
  transition: .5s;
}

.popupContainer.register .emailContainer {
  height: 63px;
  visibility: 1;
  opacity: 1;
  transition: .5s;
}

.changePopupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.changePopupButton.bigWhiteButton {
  background-color: rgb(142, 209, 171);
  height: 50px;
  overflow: hidden;
}

/* info */

.infoContainer {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: scale(0); */
}

.infoContainer.active {
  opacity: 1;
  visibility: visible;
  /* transform: scale(1); */
}

.infoAlert {
  background-color: rgb(142, 209, 171);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 30px;
  width: 350px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: scale(0);
  transition: 0.5s;
}

.infoContainer.active .infoAlert {
    transform: scale(1);
}

.infoTextBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoText {
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0px;
  display: block;
  text-align: center;
}

.okButton.bigRedButton {
  color: rgb(142, 209, 171);
}

.okButton.bigRedButton:hover {
  background-color: #610d29;
  color: rgb(142, 209, 171);
}

/* blocks */

.miniBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background:none;
  padding: 30px;

}

.teamBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  padding: 0px 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.playerCard {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  padding: 0px 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.myPlayerCard {
  background-color: rgb(212, 232, 139);
}

.playersBetsLi:first-child .playerCard {
  background-color: rgb(142, 209, 171);
}

/* buttons */


.bigRedButton {
  background-color: #610d29;
  color: rgb(241, 241, 241);
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

.bigRedButton:hover {
  background-color: rgb(212, 232, 139);
  color: rgb(98, 13, 42);
  transform: scale(0.9);
}

/*  */
.bigWhiteButton {
  background-color: rgb(241, 241, 241);
  color: rgb(98, 13, 42);
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

.bigWhiteButton:hover {
  background-color: rgb(212, 232, 139);
  transform: scale(0.9);
}


/* animation */

.animationLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.animationLinks:hover {
  color: rgba(98, 13, 42, 1);
  transform: scale(0.9);
}


.animationLinks::after {
  content: '';
  background-color: rgb(98, 13, 42);
  width: 0px;
  height: 1px;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s;
}

.animationLinks:hover::after {
  opacity: 1;
  width: 100%;
  color: rgba(98, 13, 42, 1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
